/*-----------------Navbar styling--------------- */

/* title and nav-links; overriding mdl styling */
.nav, 
.nav-header, 
.nav-drawer {
    background-color: #d7d4d4dc !important;
    font-size: 20px !important;
    padding: 10px !important;
    font-family: 'Righteous', cursive;
    color: #485868 !important;
}

/* side nav header */
.mdl-layout-title {
    font-family: 'Righteous', cursive !important;
}

/* side nav window */
.nav-drawer {
    background-color: whitesmoke !important;
}


/* side nav button */
.material-icons {
color: #d08f8d !important;
font-size: 45px !important;
margin-top: 10px;
}
    