/* ------------Home page------------------------ */

/* background */
.hero-image {
    background-image: url('/images/andrijana-bozic-x3qtKmUj6JY-unsplash.jpg');
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* container styling */
  .hero-text {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#203a55;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 15px 2px;
    padding: 10px;
  }

  h3 {
      margin-bottom: 0;
  }

  /* h1 */
  .name {
      font-size: 60px;
  }