/* ------------Home page------------------------ */

/* background */
.main {
    background-image: url('/images/andrijana-bozic-x3qtKmUj6JY-unsplash.jpg');
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
  /* container styling */
  .home-grid {
    text-align: center;
    color:#203a55;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 15px 2px;
    width: 60%;
    padding: 10px;
    top: 30%;
    left: 0;
    position: relative;
  }

  /* h1 */
  .banner-text h1 {
      font-size: 60px;
  }

    /* Full Stack statement */
    h3 {
      margin-bottom: 0;
  }

  /* horizontal dotted line */
  .banner-text hr {
    border-top: 3px dotted #203a55;
    width: 70%;
    margin: auto;
  }

  /* languages */
  .banner-text p {
    font-size: 18px;
    padding: 1em;
    text-align: center;
  }