.sticky-footer{
    border-top:2px solid #203a55;
    width: 100%;
    background-color:#98999b;
    position: relative;
    left: 0;
    bottom: 0;
  }
  

.social-links, .contact {
    display: flex;
    justify-content: space-between;
    margin: auto;    
    width: 25%;
  }

  .social-links i, .contact i {
    color: white;
    font-size: 3em;
    padding: 8px;
  }
  
  .contact {
      width:  68%;
      color: white;
  }
