/* Global styles */
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

/* styling container divs */
.body {
  width: 100%;
  height: 100%;
  margin: auto;
  padding-top: 6em;
  position: relative;  
}